<section class="archives">
	<h1>Все посты</h1>
	<section class="archive_set">
		<span class="archive_year">2010</span>
		<ul>
  			<% if archives.length > 0 %>
    		<% for entry in archives %>
      		<li>
        		<a href="<%= entry.path %>"><%= entry.header %></a>
      		</li>
    		<% end %>
  			<% end %>
		</ul>
	</section>
</section>

