<section class="archives">
	<h1>Все посты</h1>
	<% [2010,].each do |year| %>
	<section class="archive_set">
	  <span class="archive_year"><%= year %></span>
	  	  <ul>
		  	<% @articles.select {|a| a[:date].year == year }.each do |article| %>	
			<li>
					<a href="<%= article.path %>"><%= article.title %></a>
			</li>
			<% end %>	
		</ul>
	</section>
	<% end %>
</section>
