/* Welcome to Susy. Use this file to define screen styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" /> */

// Imports --------------------------------------------------------------*/

@import "defaults";

/* Layout --------------------------------------------------------------*/

@include susy;

#page {
  @include container;
//  @include show-grid("grid.png");
  * {
//    background-color: rgba(0,0,0,.125);
  }
}

body {
  border-top: 2px solid black;
}

/* Header --------------------------------------------------------------*/

header[role="logo"] {
  @include full;
  @include pad(1,7);
  @include trailer(2);
  h1 {
    padding: 1em 0;
    text-align:center;
	background-color: black;
//	border: 1px dotted #CCCCCC;
    }	
	a {
	  color: white;
	  text-decoration: none;
	  }
}

/* Content --------------------------------------------------------------*/

section#articles {
  @include columns(7);
  @include alpha;
  @include prefix(1);
  @include trailer(4);
  .post {
    @include trailer(1);
}
}

aside {
  @include columns(3);
  @include omega;
//  @include leader(4);
  padding-left: 5.464%;
  border-left: 1px dotted #CCCCCC;
}

ul.archives  {
  @include no-style-list;    
}

/* Nav --------------------------------------------------------------*/

p.archive_link { 
  text-align: center;
  padding: 0.5em 0;
  border-top: 1px dotted #CCCCCC;
}


/* Footer --------------------------------------------------------------*/

footer {
  @include full;
  @include prefix(1);
  @include trailer(2);
  #toto {
    float:right;
	text-align:right;
  }
}