/* Welcome to Susy. Use this file to define screen styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" /> */

// =IMPORTS 
//   --------------------------------------------------------------*/

@import "defaults";

/* =LAYOUT
   --------------------------------------------------------------*/

@include susy;

#page {
  @include container;
  @include show-grid("grid.png");
  * {
    background-color: rgba(0,0,0,.125);
  }
}

body {
  border-top: 2px solid $alt;
}

/* =HEADER
   --------------------------------------------------------------*/

header[role="banner"] {
  @include full;
  @include pad(0,9);
  @include trailer(2);
  h1 {
    padding: 0.5em 0;
    text-align:center;
	background-color: $alt;
//	border: 1px dotted $alt;
    }	
	a {
	  color: white;
	  text-decoration: none;
	  }
}

/* =CONTENT
   --------------------------------------------------------------*/

section#articles, .archives {
  @include columns(8);
  @include alpha;
//  @include prefix(1);
  @include trailer(4);
  .post {
    @include trailer(1);
  }
}

aside {
  @include columns(3);
  @include omega;
//  @include leader(4);
  padding-left: 5.464%;
  border-left: 1px dotted $alt;
}

.archive_set ul {
  @include columns(7,8);
  @include omega(8);
  @include no-style-list;    
}

.archive_year {
}

img,
object {
     max-width: 100%;
}

/* =NAVIGATION 
   --------------------------------------------------------------*/

p.archive_link { 
  text-align: center;
  padding: 0.5em 0;
  border-top: 1px dotted #CCCCCC;
}


/* =FOOTER
   --------------------------------------------------------------*/

footer {
  @include full;
//  @include prefix(1);
  @include trailer(2);
  #toto {
    float:right;
	text-align:right;
  }
}
